.key{
    cursor: pointer;
}

.key:hover{
    animation: shake 0.8s linear infinite;
}

@keyframes shake{
    0%{
        transform: translate(-0.1rem, -0.1rem);
    }
    50%{
        transform: translate(0.1rem, 0.1rem);
    }
    100%{
        transform: translate(-0.1rem, -0.1rem);
    }
}